body {
    background-color: whitesmoke;

    justify-content: space-between;

}

.buttons {
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
}

.H1 {
    font-family: Calibri, sans-serif;
    text-decoration: none;
}

.button {

    border: 3px solid dimgrey;
    color: dimgrey;
    font-family: Calibri, sans-serif;
    letter-spacing: 1px;
    background-color: whitesmoke;
    color: dimgrey;
    font-size: 1.5em;
    float: left;
    color: dimgrey;
    padding: 12px 28px;
    font-size: 1.5em;

}

div#pieces {
    display: flex;
    justify-content: space-around;
    border: green 1px solid;
    width: 50%;
    height: 50%;
}

.piece {
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border: black 1px solid;
    width: 50px;
    height: 50px;
}

.highlightPiece {
    background-color: darkblue;
}

.goodPiece {
    background-color: forestgreen;
}

.badPiece {
    background-color: darkred;
}

.avoid-clicks {
    pointer-events: none;
}

.allow-clicks{
    pointer-events: auto;
}